@import './reset.css';
@import './theme.css';
@import './base.css';

/* 카드 컴포넌트 */
h2 {
  font-size: var(--large-text);
  font-weight: bold;
  margin-top: 20px;
  margin-left: 15px;
}

.product-text-wrap {
  background-color: #1d1d1f;
  color: #f5f5f7;
  box-sizing: border-box;

  display: grid;
  width: 100%;
  height: 100vh;
  align-items: start;
  justify-items: center;
  text-align: center;
  font-weight: 550;
  color: var(--white);

  background-image: image-set(url(./../products/ipad_pro.jpeg) 1x, url(./../products/ipad_pro_2x.jpeg) 2x);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  grid-template-rows: 0.1fr auto auto 1.9fr;
  padding-top: var(--large-spacing);
}

/* 버튼 */
.button {
  border: 0;
  padding: 8px var(--small-spacing);
  background: transparent;
  border-radius: 20px;
  font-weight: 600;

  &.button-fill {
    background: var(--blue-200);
    color: var(--white);

    &:disabled {
      background: var(--gray-100);
    }
  }

  &.button-outline {
    color: var(--blue-200);
    border: 2px solid currentColor;

    &:disabled {
      color: var(--gray-300);
    }
  }
}

/* 제품 제목 텍스트 */
.product-title {
  font-size: var(--large-text);
  font-weight: 750;
  margin-bottom: var(--small-spacing);
  grid-row: 2;
}

/* 제품 설명 텍스트 */
.text-group {
  display: flex;
  flex-direction: column;
  font-size: var(--base-text);
  margin-block: var(--small-spacing);
  line-height: var(--line-normal);
  grid-row: 3;
  .text-tba {
    margin-top: var(--small-spacing);
    color: var(--gray);
    font-size: var(--small-text);
  }
}

.button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--base-spacing);

  font-size: var(--xx-small-text);
  grid-row: 4;
  grid-auto-flow: column;
  height: 1.8rem;
  font-weight: 600;
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
  padding: 0 var(--small-spacing);
  font-size: var(--xx-small-text);
}

@media (min-width: 1024px) {
  .product-text-wrap {
    padding-top: var(--extra-large-spacing);
    background-image: image-set(url(./../products/ipad_pro_wide.jpeg) 1x, url(./../products/ipad_pro_wide_2x.jpeg) 2x);
  }

  .product-title {
    font-size: var(--extra-large-text);
  }

  .text-group {
    font-size: var(--medium-text);
    flex-direction: row;
    gap: var(--small-spacing);
    align-items: center;
    .text-tba {
      margin-top: 0;
    }
  }

  a {
    font-size: var(--x-small-text);
  }
}
