/* CSS 변수 */
:root {
  --wrap-padding: 1.25rem; /* 20px */

  --base-font-size: 1rem;
  --base-font-color: #121212;
  --focus-style: #24388d;

  --input-border: #dadada;
  --input-bg: #ffffff;
  --input-focus-border: #03cf5d;
  --input-focus-bg: #e9f0fd;

  --login-btn-fontcolor: #fff;
  --login-btn-bg: #03cf5d;

  --text-color: #121212;
}

/* 스크린 리더 관련 설정 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

/* 공통 스타일 */
html {
  font-size: var(--base-font-size);
}

body {
  margin: 0;
  color: var(--base-font-color);
  background: #ffffff;
}

#wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 헤더 */
header.header {
  display: flex;
  justify-content: center;
  padding: var(--wrap-padding);
}
header.header > h1.logo {
  width: 230px;
  text-align: center;
}
header.header > h1.logo > a > svg {
  width: 100%;
  height: auto;
}

/* 메인 */
main.contents {
  display: flex;
  justify-content: center;
}
main.contents > div.wrap_login {
  width: 100%;
  padding: 0 var(--wrap-padding);
}
/* 메인 - 로그인 */
/* 로그인 폼 */
.login_form {
  width: 100%;
}
.login_form > .login_box {
  margin-bottom: 0.5rem;
}
.login_form > .login_box > input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--input-border);
  border-radius: 3px;
  padding: 0 0.75rem; /* 12px */
  box-sizing: border-box;
  background: var(--input-bg);
  font-size: 0.875rem; /* 14px */
}
.login_form > .login_box > input:focus {
  outline: none;
  background: var(--input-focus-bg);
  box-shadow: 0 0 0 1px var(--input-focus-border);
}

/* 로그인 버튼 */
.login_form > .btn_login {
  width: 100%;
  height: 45px;
  font-size: var(--base-font-size);
  color: var(--login-btn-fontcolor);
  background: var(--login-btn-bg);
  margin-top: var(--wrap-padding);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.login_form > .btn_login:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(96, 104, 139, 0.3);
}

/* 로그인 옵션 */
.login_form > .login_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625rem; /* 10px */
}

/* 로그인 상태 유지 */
.login_keep {
  display: flex;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
  gap: 5px;
}
.login_keep input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../svg/unchecked.svg');
}
.login_keep input[type='checkbox']:checked {
  background-image: url('../svg/checked.svg');
}

/* 포커스 스타일 */
.login_keep input[type='checkbox']:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(96, 104, 139, 0.3);
}

/* IP 보안 */
.btn_ip {
  font-size: var(--base-font-size);
  color: var(--text-color);
  background: #fff;
  border: none;
  cursor: pointer;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.btn_ip:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(96, 104, 139, 0.3);
}
.btn_ip[aria-pressed='true'] .state {
  color: #03cf5d;
}

/* 모바일 */
@media (max-width: 767px) {
  .btn_ip {
    display: none;
  }
}

/* 데스크탑 */
@media (min-width: 768px) {
  header.header {
    padding-top: var(--wrap-padding);
  }

  main.contents > div.wrap_login {
    max-width: 500px;
    margin: 0 auto;
  }

  .login_form {
    width: 500px;
  }
  .btn_ip {
    display: inline-flex;
  }
}
